{
  "semi": true,
  "indent_style": false,
  "useTabs": false,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": true
}
